form {
    position: relative;
    margin-right: 1rem;
    margin-left: 1rem;
}

form .form__container {
    background-color: #fff;
    align-items: center;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
    box-shadow: .1rem 1rem 2rem 1rem rgb(0,0,0,0.1);
    margin-top: 2rem;
}

form h1{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.705);
}

form .form__data {
    text-align: center;
}

form .form__data input {
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.082);
}
